In [1]:
from tqdm import tqdm
import pandas as pd
import numpy as np
import random   

np.random.seed(42)
random.seed(42)

desire = 'Eat'
test_data_path = f'data/test/{desire}.csv'
test_df = pd.read_csv(test_data_path, index_col=False)
test_df.head(2)

,person_id,travel_purpose,target_amenity,mode,distance_miles,duration_minutes,age,individual_income,household_size,family_structure,vehicles,cypher
0,5.570035e+18,Eat,F&B Eatery/Drinking Places,Walking,0.0,0.0,29,53672,3_person,family_single,1,\n MATCH (p:Person)\n WHERE (p.a...
1,7.600486e+18,Eat,F&B Eatery/Snack and Nonalcoholic Beverage Bars,Walking,0.0,0.0,26,0,3_person,nonfamily_single,0,\n MATCH (p:Person)\n WHERE (p.a...

# Witout Context

In [2]:
from model import ChoiceModel
choice_model = ChoiceModel(
    data_dir='data', desire=desire, sample_num=0, skip_init=True)

for idx, row in tqdm(test_df.iterrows(), total=len(test_df)):
    try:
        profile = row[['person_id', 'age', 'individual_income',
                       'household_size', 'family_structure', 'vehicles', 'cypher']]
        profile = profile.to_dict()
        amenity_final_choice, mode_final_choice = choice_model.infer_without_context(
            profile=profile, mode='experiment')
    except Exception as e:
        print(e)
choice_model.save_logs()

100%|██████████| 1000/1000 [2:36:09<00:00,  9.37s/it]

# With Context

In [4]:
from model import ChoiceModel
num_sample = 500
choice_model = ChoiceModel(
    data_dir='data', desire=desire, sample_num=num_sample, skip_init=False)

for idx, row in tqdm(test_df.iterrows(), total=len(test_df)):
    try:
        profile = row[['person_id', 'age', 'individual_income',
                        'household_size', 'family_structure', 'vehicles', 'cypher']]
        profile = profile.to_dict()
        amenity_final_choice, mode_final_choice = choice_model.infer(
            profile=profile, mode='experiment')
    except Exception as e:
        pass
choice_model.save_logs()

preparing train data...: 100%|██████████| 500/500 [00:01<00:00, 485.21it/s]
preparing test data...: 100%|██████████| 1000/1000 [00:00<00:00, 24159.35it/s]
adding person nodes...: 100%|██████████| 499/499 [00:00<00:00, 1052.31it/s]
adding desire nodes...: 100%|██████████| 499/499 [00:00<00:00, 1284.05it/s]
adding itention nodes...: 100%|██████████| 500/500 [00:00<00:00, 1149.89it/s]
adding wan_to edges...: 100%|██████████| 499/499 [00:00<00:00, 866.58it/s]
adding go_to edges...: 100%|██████████| 500/500 [00:00<00:00, 825.92it/s]

creating neo4j index...
done!

100%|██████████| 1000/1000 [3:03:40<00:00, 11.02s/it]