In [ ]:
from model import ChoiceModel

import pandas as pd



def evaluate_gl(desire, choice_type, num_sample=1000, seed=42):
    choice_model = ChoiceModel(
        data_dir='data', desire=desire, choice_type=choice_type,
        sample_num=num_sample, skip_init=True, seed=seed)

    error, kl_divergence = choice_model.evaluate(figsize=(20, 3), plot=False)
    return error, kl_divergence

df = pd.DataFrame(columns=['desire', 'choice_type', 'num_sample', 'error', 'kl_divergence'])

desire = 'Eat'
for choice_type in ['mode','amenity']:
    for i,num_sample in enumerate([0,500,1000]):
        error, kl_divergence = evaluate_gl(desire, choice_type, num_sample=num_sample)
        df.loc[len(df)] = [desire, choice_type, num_sample, error['mean'], kl_divergence['mean']]

df

  desire choice_type  num_sample      error  kl_divergence
0    Eat        mode           0  13.342923       0.099972
1    Eat        mode         500   6.167914       0.028360
2    Eat        mode        1000   5.552694       0.019975
3    Eat     amenity           0  14.144601       0.214809
4    Eat     amenity         500   6.904077       0.070341
5    Eat     amenity        1000   7.188765       0.074316